@{
    ViewBag.Title = "Завдання";
}
<h2>@ViewBag.Title</h2>

<p>1. Для задачі булевого програмування адаптувати (модифікувати) метод неявного перебору по векторній решітці та генетичний алгоритм</p>
<img src="../Image/img.jpg" alt=""/>
<p>2. Розробити адаптацію методу перебору по векторній решітці для задачі булевого програмування</p>
<p>3. Розробити генетичний алгоритм для задачі булевого програмування</p>
<p>4. Розробити програмну реалізацію алгоритмів</p>
<p>5. Дослідити часову ефективність алгоритмів</p>
<p>6. Порівняти роботу алгоритмів</p>