@{
    ViewBag.Title = "Контакти";
}
<h2>@ViewBag.Title</h2>
<h4></h4>
<img src=" ../Image/gayane.jpeg" width="450px" height="460px"/>

<img src=" ../Image/julia.jpg" width="450px" height="460px" />


<address>
    КПІ ім. Ігоря Сікорського, ФІОТ<br />
    вул. Політехнічна 41, корпус 18, Київ, 03056<br />
    <abbr title="Phone">Телефон:</abbr>
    +380666168508, +380676476240
</address>

 