@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/Site.css")
<section id="banner">
    <div class="inner">
        <h1>Проект з дисциплін "Додаткові розділи дослідження операцій" та "Технології розробки програмного забезпечення" на тему:</h1>
        <h2>"Метод неявного перебору по векторній решітці для задачі булевого програмування"</h2>


    </div>

</section>    